
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Beleza Natural</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body class ="container">
    <div class="well well-sm">
        <h2>Controle de Orçamento</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            @RenderBody()
        </div>
    </div>
    </body>
</html>
